html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height:100%;
}
.wrapper {
    width:1440px;
}
body {
    line-height: 1;
    background-color: #E5E5E5;
    color: #2E2F42;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, u {
    text-decoration: none;
}
header {
    position: fixed;
    width: 1440px;
    top: 0;
    height: 72px;
    background-color: #E7E9FC;
}
.headerContent {
    margin: 24px 0 0 156px;
    width: 960px;
}
.logoinheader {
    width: 115px;
    height: 24px;
    font-family: 'Raleway';
    margin: 24px 0 0 156px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.blueweb {
    color: #4D5AE5;
}
.menunav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:0px;
    gap:40px;
    width:261px;
    height:24px;
    margin:-24px 0 0 347px;
}
.studio {
    color: #2E2F42;
    width: 48px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.portfolio {
    color: #2E2F42;
    width: 48px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.contacts {
    color: #2E2F42;
    width: 48px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:#2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.cont {
    margin: -24px 0 0 940px;
    height: 24px;
}
.mail {
    width: 153px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.tell {
    margin: 0 0 0 40px;
    width: 151px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.dark-bg {
    padding:258px 0 0 473px;
    width: 967px;
    height: 600px;
    background: #2E2F42;
}
.efict {
    width: 500px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.buttonor {
    position: absolute;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding:16px 32px;
    gap:10px;
    position:absolute;
    width:169px;
    height:56px;
    left:636px;
    top:428px;
    background:#4D5AE5;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius:4px;
}
.or {
    width: 115px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sectionone {
    display: flex;
    width: 1128px;
    height: 104px;
    margin: 120px 0 0 156px;
}
.srta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 264px;
    height: 104px;
    margin: 0 24px 0 0;
}
.bstra {
    width: 264px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.textstra {
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.sectiontwo {
    margin: 120px 0 0 156px;
}
.what {
    margin: 0 0 0 430px;
    width: 333px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.teximg {
    margin: 72px 0 0 0;
    display: flex;
}
.imgtexs {
    box-sizing: border-box;
    width: 360px;
    height: 300px;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 24px 0 0;
}
.sectionthree {
    height: 732px;
    background: #F4F4FD;
    margin-top: 120px;
    padding: 120px 0 0 0;
}
.team {
    width: 200px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin: 0px 0 0 639px;
}
.allperson {
    margin-top: 72px;
    display: flex;
}
.person {
    margin: 0 0 0 156px;
}
.person1 {
    margin: 0 0 0 24px;
}
.textperson {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    width: 264px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.personname {
    margin-top: 32px;
    width: 194px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.rolperson {
    width: 128px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
footer {
    height: 310px;
    background: #2E2F42;
    margin-top: -24px;
    padding: 100px 0 0 156px;
}
.footherinfo {
    margin: 0 0 0 -200px;
}
.logoinheader1 {
    width: 115px;
    height: 24px;
    font-family: 'Raleway';
    margin: 24px 0 0 156px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #E7E9FC;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.blueweb1 {
    color: #4D5AE5;
}
.incr {
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    margin: 16px 0 0 155px;
}
.rolperson1 {
    width: 198px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.filters{
    margin: 168px 0 0 427px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 586px;
    height: 48px;
}
.filtersbtnactive{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    width: 21px;
    height: 24px;
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.whitetxt{
    margin: 0px 0 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.filtersbtn{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.two{
    width: 126px;
    height: 48px;
}
.three{
    width: 78px;
    height: 48px;
}
.four{
    width: 101px;
    height: 48px;
}
.five{
    width: 126px;
    height: 48px;
}
.bluetxt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.sectionfour{
    margin: 72px 0 0 156px;
}
.rowone{
    display: flex;
}
.card{ 
    box-sizing: border-box;
    width: 360px;
    height: 420px;
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
    margin: 0 24px 48px 0 ;
}
.imgcard{
    width: 360px;
    height: 300px;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365.jpg);
    background-blend-mode: soft-light, normal;
    mix-blend-mode: normal;
}
.namecard{
    width: 290px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0 0 16px;
}
.infocard{
    width: 110px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0 0 16px;
}
.rowtwo{
    display: flex;
}
.rowtree{
    display: flex;
}

